* {
    font-family: monospace;
    font-size: 40px;
    font-weight: bold;
    transition-duration: 250ms;
    color: lightgray
}

html {
    background: rgb(32, 32, 32);
}

.board {
}

.word {
    display: flex;
}

.tile {
    display: flex;
    margin-right: .25rem;
    margin-bottom: .25rem;
    width: 1.5rem;
}

.tile, input, button {
    height: 1.5rem;
    padding: 0rem;
    background-color: transparent;
    border-radius: .25rem;
    border: .08rem solid gray;
    justify-content: center;
    align-items: center;
}

input, button {
    margin-right: .25rem;
    display: flex-inline;
}

input {
    width: calc(1.5rem + 0.08rem + 0.25rem + .08rem + 1.5rem + 0.08rem + 0.25rem + .08rem + 1.5rem);
    text-align: center;
    text-transform: uppercase;
}

button {
    width: calc(1.5rem + 0.08rem + 0.25rem + .08rem + 1.5rem + 0.08rem + 0.08rem);
    height: calc(1.5rem + 0.08rem + 0.08rem)
}

input:focus, button:focus {
    outline: 0;
    border: .08rem solid rgb(202, 202, 202);
}

input:focus, button:active {
    background-color: rgb(48, 48, 48);
}

#message {
    font-size: 0.5rem;
}